<div class="form-group">
  <!-- <label *ngIf="label" [class.required]="required">{{ label }}</label> -->
  <label *ngIf="label" for="input">{{label}}<span *ngIf="required" class="requerido">  *</span><span class="aclaracion" *ngIf="mostrarAclaracion">{{aclaracion}}</span></label>
  
  <select 
    class="form-control"
    [ngClass]="{ 'is-invalid': showError }"
    [(ngModel)]="selectedValue"
    (ngModelChange)="onValueChange($event)"
    (blur)="onBlur()"
    [disabled]="disabled"
    [required]="required"
  >
    <option [ngValue]="null" disabled>{{ placeholder }}</option>
    <option *ngFor="let option of options" [ngValue]="getOptionValue(option)">
      {{ getOptionLabel(option) }}
    </option>
  </select>
  <div *ngIf="showError" class="invalid-feedback">
    {{ errorMessage }}
  </div>
</div>

<!-- <div class="contenedor">
  <label *ngIf="mostarLabel" for="input">{{label}}<span *ngIf="required" class="requerido">  *</span><span class="aclaracion" *ngIf="mostrarAclaracion">{{aclaracion}}</span></label>
  
  <div class="input">
    <div *ngIf="icono!==''" class="icon-izq">
      <ion-icon class="icon" name="{{icono}}"></ion-icon>
    </div>
    <select #input


      [disabled]="disabled"
      [required]="required"

      [style]="style"
      

      >

      <option disabled selected>{{placeholder}}</option>
      <option [value]="item" *ngFor="let item of valores">{{item}}</option>
    </select>
  </div>
</div> -->

<!-- 
<input #input
[value]="defaultValue"

[type]="inputType"
[placeholder]="placeholder"
[disabled]="disabled"
[readOnly]="readOnly"
[required]="required"

[style]="style"

(input)="onInput($event.target)"
(blur)="onTouched($event)"
(focus)="onFocus()"
/> -->
