<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="headerTitle">Alerta Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-mapa
        *ngIf="mostrarMapa"
        class="mapa"
        [marcadores]="marcadores"
        [centro]="{lat: center.latitud, lng: center.longitud}"
        >
        </app-mapa>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <app-boton-general (botonClick)="accionAlerta('S')" label="Resuelto" style="width: 100%; margin-top: 16px;"></app-boton-general>
        <app-boton-general (botonClick)="accionAlerta('C')" label="Cancelar" style="width: 80%; margin-top: 16px;" class="danger"></app-boton-general>

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>