<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="headerTitle">Alerta Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-mapa
        class="mapa"
        [calculaRuta]="true"
        [ruta]="ruta"
        >
        </app-mapa>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
        <app-boton-general label="Resuelto"></app-boton-general>

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>