<ion-content [fullscreen]="true">

  <div class="container">

    <div class="c-flex">
      <ion-img class="imagenLogo" src="./assets/Logo/Logo.svg" alt="Alerta Persona logo"></ion-img>
    </div>

    <p class="title" >Restablecer Contraseña</p>

    <app-password-input [formControl]="password" icono="lock-closed" placeholder="Nueva Contraseña" [mostarLabel]="false" style="width: 100%; margin: 8px 0;"></app-password-input>
    <app-password-input [formControl]="repitePassword" icono="lock-closed" placeholder="Repetir Contraseña" [mostarLabel]="false" style="width: 100%; margin: 8px 0;"></app-password-input>
    <app-boton-general (botonClick)="enter()" label="Cambiar Contraseña" style="width: 100%; margin: 34px 0;" ></app-boton-general>


  </div>

</ion-content>
