<ion-content [fullscreen]="true">

  <div class="container">

    <div class="c-flex">
      <ion-img class="imagenLogo" src="./assets/Logo/Logo.svg" alt="Alerta Persona logo"></ion-img>
    </div>

    <p class="title" >Ingrese el codigo.</p>

    <div class="divCodes">
      <input 
        [(ngModel)]="primer"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        id="digito1"
        class="codeDigit"
        maxlength="1"
        (keyup)="keyPress($event, 'digito2')"
        data-prev=""
      >
      <input
        [(ngModel)]="segundo"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        id="digito2"
        class="codeDigit"
        maxlength="1"
        (keyup)="keyPress($event, 'digito3')"
        data-prev="digito1"
      >
      <input
        [(ngModel)]="tercero"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
        id="digito3"
        class="codeDigit"
        maxlength="1"
        (keyup)="keyPress($event, 'digito4')"
        data-prev="digito2"
      >
      <input
        [(ngModel)]="cuarto"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        id="digito4"
        class="codeDigit"
        maxlength="1"
        (keyup)="keyPress($event, 'digito5')"
        data-prev="digito3"
      >
      <input
        [(ngModel)]="quinto"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        maxlength="1"
        id="digito5"
        class="codeDigit"
        (keyup)="keyPress($event, 'digito6')"
        data-prev="digito4"
      >
      <input
        [(ngModel)]="sexto"
        type="number"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        id="digito6"
        class="codeDigit"
        maxlength="1"
        (keyup)="keyPress($event, 'next')"
        data-prev="digito5"
      >
    </div>


    <app-boton-general (botonClick)="enter()" id="next" label="Comprobar" style="width: 100%; margin: 34px 0;" ></app-boton-general>

    
    <div class="volver">
      <a (onclick)="reeviar()">Reenviar Codigo</a>
    </div>
   


  </div>

</ion-content>
