

.footer {
    padding-top: 16px;
    // background-color: transparent;
    background-color: #fff;
    // position: absolute;
    // bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin: 50px 0 65px 0; */
    // height: 34%;

    background-image: url("/assets/footer/ola.svg");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: bottom;
}

.imagenLogo {
    border: 4px solid black;
    border-radius: 50%;
    width: 155px;
    height: 155px;
}

.leyenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.leyenda p{
    font-size: 20px;
    font-weight: bold;
    margin: 2px 0;
}