<div class="contenedor">
  <label *ngIf="mostarLabel" for="input">{{label}}<span *ngIf="required" class="requerido">  *</span><span class="aclaracion" *ngIf="mostrarAclaracion">{{aclaracion}}</span></label>
  
  <div class="input">
    <div
      [style]="style"
    >
      <div *ngIf="icono!==''" class="icon-izq">
        <ion-icon class="icon" name="{{icono}}"></ion-icon>
      </div>
      <input #input
        [value]="defaultValue"
  
        [type]="inputType"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [readOnly]="readOnly"
        [required]="required"
  
        style="width: 100%;"
  
        [ngClass]="{'error': error}"
  
        (input)="onInput($event.target)"
        (blur)="onTouched($event)"
        (focus)="onFocus()"
        />
    </div>
  </div>
  <p *ngIf="error" class="errorTxt">{{errorTxt}}</p>
</div>
