<ion-header [translucent]="true" *ngIf="origen==='C'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitle">Alerta Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <div class="c-flex">
      <ion-img class="imagenLogo" src="./assets/Logo/Logo.svg" alt="Alerta Persona logo"></ion-img>
    </div>

    <p class="title" >Restablecer Contraseña</p>
    
    <app-password-input
      *ngIf="origen==='C'"
      [formControl]="oldPassword" 
      icono="lock-closed" 
      placeholder="Contraseña Actual"
      [mostarLabel]="false" 
      style="width: 100%; margin: 8px 0;"
    >
    </app-password-input>

    <app-password-input
      [formControl]="password" 
      icono="lock-closed" 
      placeholder="Nueva Contraseña" 
      [mostarLabel]="false" 
      style="width: 100%; margin: 8px 0;"
    >
    </app-password-input>
    <app-password-input
      [formControl]="repitePassword" 
      icono="lock-closed" 
      placeholder="Repetir Contraseña" 
      [mostarLabel]="false" 
      style="width: 100%; margin: 8px 0;"
    >
    </app-password-input>

    <app-boton-general (botonClick)="enter()" label="Cambiar Contraseña" style="width: 100%; margin: 34px 0;" ></app-boton-general>
    <div class="volver" *ngIf="origen!='C'">
      <a routerLink="/login">Iniciar Sesion</a>
    </div>

  </div>

</ion-content>
