<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="headerTitle">Alerta Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <div *ngIf="usuario" style="margin: 0 16px;">
    <div class="c-flex">
      <ion-img class="imagenLogo" src="./assets/icons/userBox.svg" alt="user icon"></ion-img>
  
      <h2>{{usuario.nombre}} {{usuario.apellido}}</h2>
    </div>
    <div class="dataUsuario">
      <ion-grid>
        <ion-row>
          <ion-col class="tituloTable">Email:</ion-col>
          <ion-col class="attTable">{{usuario.mail}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="tituloTable">Telefono:</ion-col>
          <ion-col class="attTable">{{usuario.telefono}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="tituloTable">DNI:</ion-col>
          <ion-col class="attTable">{{usuario.nroDocumento | dni}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="tituloTable">Nro Tramite:</ion-col>
          <ion-col class="attTable">{{usuario.nroTramite}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-footer class="footer">
    <app-footer></app-footer>
  </ion-footer>

</ion-content>
