<div class="contenedor">
  <label *ngIf="mostarLabel" for="input">{{label}}<span *ngIf="required" class="requerido">  *</span></label>
  
  <div class="password-input">

    <div
      [style]="style"
    >
      
      <div *ngIf="icono!==''" class="icon-izq">
        <ion-icon class="icon" name="{{icono}}"></ion-icon>
      </div>
      <input #input
        type="{{ showPassword ? 'text' : 'password' }}" 
        [value]="defaultValue"
    
        [placeholder]="placeholder"
        [readonly]="readOnly" 
        [disabled]="disabled" 
        [required]="required" 
        
        style="width: 100%;"

        [ngClass]="{'error': error}"
        
        (input)="onInput($event.target)"
        (blur)="onTouched($event)"
        (focus)="onFocus()"
      >
      <button type="button" (click)="togglePasswordVisibility()">
        <ion-icon class="icon" *ngIf="!showPassword" name="eye-outline"></ion-icon>
        <ion-icon class="icon" *ngIf="showPassword" name="eye-off-outline"></ion-icon>
      </button>
    
    </div>
  </div>
  <p class="errorTxt">{{ (error) ? errorTxt : ''}}</p>
</div>