<ion-content [fullscreen]="true">

  <div class="container">

    <div class="c-flex">
      <ion-img class="imagenLogo" src="./assets/Logo.svg" alt="Alerta Persona logo"></ion-img>
    </div>

    <p class="title" >Iniciar Sesion</p>

    <form [formGroup]="usuario">
      <app-text-input formControlName="mail" placeholder="Nombre" icono="send" placeholder="mail@mail.com" [mostarLabel]="false" style="width: 100%; margin: 8px 0;"></app-text-input>
      <app-password-input formControlName="password" placeholder="password" icono="lock-closed" placeholder="contraseña" [mostarLabel]="false" style="width: 100%; margin: 8px 0;"></app-password-input>
  
      <app-boton-general label="Iniciar Sesion" style="width: 100%; margin: 64px 0;" ></app-boton-general>
    </form>

    <a>Olvide mi contraseña</a>
    <p>Sos nuevo? <a >Registrate</a></p>

  </div>

</ion-content>
