<ion-content [fullscreen]="true">

  <div class="container">

    <div class="c-flex">
      <ion-img class="imagenLogo" src="./assets/Logo/Logo.svg" alt="Alerta Persona logo"></ion-img>
    </div>

    <p class="title" >Iniciar Sesion</p>

    <form [formGroup]="usuario">
      <app-text-input 
        formControlName="mail"
        icono="send"
        placeholder="mail@mail.com"
        [mostarLabel]="false"
        style="width: 100%; margin: 8px 0;"
        [error]="(!(usuario.get('mail')?.valid!) && (this.usuario.get('mail')?.touched!))"
      >
      </app-text-input>
      <app-password-input 
        formControlName="password"
        icono="lock-closed"
        placeholder="contraseña"
        [mostarLabel]="false"
        style="width: 100%; margin: 8px 0;"
        [error]="(!(usuario.get('password')?.valid!) && (this.usuario.get('password')?.touched!))"
      >
      </app-password-input>
  
      <app-boton-general (botonClick)="enter()" [ngClass]="'danger'" label="Iniciar Sesion" style="width: 100%; margin: 64px 0;" ></app-boton-general>
    </form>

    <a routerLink="/recupero-mail" class="link">Olvide mi contraseña</a>
    <p>Sos nuevo? <a routerLink="/registro" class="link">Registrate</a></p>

  </div>

</ion-content>
