<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="headerTitle">Alerta Persona</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >

  <div class="main">

    <div style="margin: 0 16px;">
      <app-boton-general routerLink="/perfil" label="Mi Perfil" style="width: 100%; margin: 8px 0;" ></app-boton-general>
      <app-boton-general routerLink="/historial" label="Historial" style="width: 100%; margin: 8px 0;" ></app-boton-general>
      <app-boton-general routerLink="/configuracion" label="Configuración" style="width: 100%; margin: 8px 0;" ></app-boton-general>
      <app-boton-general [routerLink]="'/asistir/'+alertaRandom" label="Asistir" style="width: 100%; margin: 8px 0;" ></app-boton-general>
    </div>

  </div>

  
</ion-content>

<ion-footer class="">
  <app-footer></app-footer>
</ion-footer>