<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="headerTitle">Alerta Persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-y="false" >

  <div class="main">

    <div style="margin: 0 16px;">
      <app-boton-general (botonClick)="click()" label="Mi Perfil" style="width: 100%; margin: 8px 0;" ></app-boton-general>
      <app-boton-general label="Historial" style="width: 100%; margin: 8px 0;" ></app-boton-general>
      <app-boton-general label="Configuración" style="width: 100%; margin: 8px 0;" ></app-boton-general>
      <app-boton-general (botonClick)="asistir()" label="Asistir" style="width: 100%; margin: 8px 0;" ></app-boton-general>
    </div>

  </div>

  <!-- <div class="">
    <app-footer></app-footer>
  </div> -->


  <ion-footer class="footer">
    <app-footer></app-footer>
  </ion-footer>

</ion-content>

<!-- <ion-footer>
  <app-footer></app-footer>
</ion-footer> -->
