
.headerTitle{
    font-size: 22px;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    // padding-bottom: 90%;
}

.footer {
    position: absolute;
    bottom: 0;
}
